* {
  margin: 0;
  padding: 0;
}


/* ..........Desktop-Home............ */

.rectangle-parent {
  width: 100%;
  display: grid;
  grid-template-columns: 32.25% 35.5% 32.25%;
  grid-template-rows: 100vh;
  margin-bottom: 5rem;
  overflow: hidden;
}

.rectangle-1 {
  grid-column: 1/2;
  grid-row: 1;
  background-color: var(--almost-black);
}

.art-gallery-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-wrap: nowrap;
  margin-left: 25%;
  ;
}

.rectangle-1 h1 {
  font-family: Big Shoulders Display;
  font-size: 5rem;
  font-style: normal;
  font-weight: 900;
  line-height: 5.5rem;
  text-transform: uppercase;
  mix-blend-mode: difference;
  color: white;
}

.rectangle-2 {
  grid-column: 2/3;
  grid-row: 1;
  background-image: url('./Images/Rectangle.svg');
  background-size: cover;
}

.rectangle-3 {
  grid-column: 3/4;
  grid-row: 1;
}

.location-btn-container {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: -15%;
}

.location-btn-container p {
  font-family: Outfit;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2rem;
}

.our-location-btn {
  margin-top: 2rem;
  width: 247px;
  height: 70px;
  background-image: url('./Images/Our_location_button.svg');
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 0.3s; 
}
.our-location-btn:hover {
  background-image: url('./Images/our_location_button_hover.svg'); 
}
.art-gallery-container-tablet{
  display: none;
}

/* ...............Showcase-1 .................*/

.showcase-1 {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem auto;
}

.box-1 {
  width: 27.8rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 4rem;
}

.box-2 {
  width: 39.6875rem;
  height: 25rem;
  background-image: url('./Images/gallery_image_1.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* ...............Showcase-2 .................*/

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.showcase-2 {
  display: grid;
  grid-template-columns: 39.6875rem 27.8125rem;
  grid-template-rows: 19.5625rem 23.5625rem;
  gap: 1rem;
}

.image-1 {
  grid-column: 1/2;
  grid-row: 1/3;
  background-image: url('./Images/gallery_image_2.svg');
  background-repeat: no-repeat;
  background-size: cover;
}


.image-2 {
  grid-column: 2/3;
  grid-row: 1/2;
  background-image: url('./Images/gallery_image_3.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.showcase-2-info {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 4rem;
  text-align: start;
  background-color: var(--almost-black);
  color: var(--color-white);
}

.showcase-2-info h1,
.box-1 h1 {
  font-family: Big Shoulders Display;
  font-size: 3rem;
  font-style: normal;
  font-weight: 900;
  line-height: 3.75rem;
  text-transform: uppercase;
}

.showcase-2-info p,
.box-1 p {
  font-family: Outfit;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2rem;
}

/* Footer */

.footer-item {
  margin-top: 11.25rem;
  color: var(--color-white);
  font-family: 300;
  font-family: var(--heading-m);
  background-color: var(--almost-black);
  width: 100%;
  min-height: 15.25rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.footer-item ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.footer-item p {
  width: 25%;
}

.footer-item h1 {
  font-size: 3rem;
}


/* Tablet view */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 10px;
  }

  /* ..........Desktop-Home............ */

  .rectangle-parent {
    width: 100vw;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 43.75rem;
    ;
    margin-bottom: 3rem;
    overflow: hidden;
  }

  .rectangle-1 {
    grid-column: 1/2;
    grid-row: 1;
    background-image: url('./Images/Rectangle.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--color-white);
  }

  .art-gallery-container {
    display: none;
  }

  .art-gallery-container-tablet {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .art-gallery-container-tablet h1 {
    font-family: Big Shoulders Display;
    font-size: 5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 5.5rem;
    text-transform: uppercase;
    color: var(--almost-black);
    text-wrap: nowrap;
  }

  .rectangle-3 {
    grid-column: 2/3;
    grid-row: 1;
    background-color: var(--color-white);
  }
}

/* Mobile view */
@media only screen and (max-width: 767px) {
  /* ..........Desktop-Home............ */
  .rectangle-parent {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: minmax(37rem, auto) minmax(30rem, auto);
    margin-bottom: 3rem;
    overflow: hidden;
  }

  .rectangle-1 {
    grid-column: 1;
    grid-row: 1/2;
    background-image: url('./Images/Rectangle.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--color-white);
  }

  .art-gallery-container {
    display: none;
  }

  .art-gallery-container-tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .art-gallery-container-tablet h1 {
    font-size: 3rem;
    line-height: 3.4375rem;
    color: var(--almost-black);
    text-wrap: nowrap;
  }

  .rectangle-3 {
    grid-column: 1;
    grid-row: 2/3;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .location-btn-container{
    width: 21.43rem;
    margin: 0;
  }
  /* ........footer........ */
  .footer-item {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .footer-item ul {
    list-style: none;
    display: flex;
    margin-top: 2rem;
    gap: 1rem;
  }

  .footer-item p {
    width: 100%;
    margin-top: 2rem;
  }

  .footer-item h1 {
    font-size: 3rem;
  }

  /* ...............Showcase-1 .................*/

  .showcase-1 {
    width: 21.4375rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 1rem;
    margin: 1rem auto;
  }

  .box-1 {
    width: 100%;
    height: 25rem;
    padding-left: 1rem;
  }

  .box-2 {
    width: 100%;
    height: 25rem;
  }

  /* ..........Show case -2 ...... */
  .showcase-2 {
    display: grid;
    grid-template-columns: 21.4375rem;
    grid-template-rows: 30rem 12.5rem 18.3125rem;
    gap: 1rem;
  }

  .image-1 {
    grid-column: 1;
    grid-row: 1/2;
  }

  .image-2 {
    grid-column: 1;
    grid-row: 2/3;
  }

  .showcase-2-info {
    grid-column: 1;
    grid-row: 3/4;
    padding-left: 1rem;
  }
}